#root {
  background-color: #e6eeff;
  margin: 0px;
  min-height: 100vh;
  padding: 0px;
}

.t-logo-nav {
  width: 25px;
}

.t-logo-time {
  width: 25px;
}

.t-logo-personal {
  width: 38px;
  background-color: transparent;
}

.t-block-last-viewed {
  width: 250px;
  height: 139px;
  background-color: #343a40;
}

.t-block-board {
  margin-bottom: 20px;
  margin-right: 20px;
  width: 250px;
}

.t-title-board {
  z-index: 10;
}

.t-background-image {
  height: 150px;
  width: 100%;
  z-index: 1;
}
