#root {
  background-color: #e6eeff;
  margin: 0px;
  min-height: 100vh;
  padding: 0px;
}

.t-logo-nav {
  width: 25px;
}

.t-logo-time {
  width: 25px;
}

.t-logo-personal {
  background-color: transparent;
  width: 38px;
}

.t-block-board-default {
  background-color: #343a40;
  height: 150px;
  width: 250px;
}

.t-block-board {
  margin-bottom: 120px;
  margin-right: 20px;
  width: 250px;
}

.t-background-image {
  height: 150px;
  width: 100%;
}
